{% extends "smartconnect/smartconnect_base.html" %}
{% load reporters-tags %}
{% load smartconnect-tags %}
{% load pagination-tags %}
{% load i18n %}
{% block title %}{% trans "SmartConnect - Delete Device" %}{% endblock %}

{% block content %}
<div class="module">
<h1>Ok to delete this device?</h1>

<form method="post" id="fm-rep-add" action="/smartconnect/delete/{{ smartconnectdevice.pk }}">
<div class="submit">
    <input type="submit" name="delete" value="{% trans 'Delete' %}" />           
    <input type="submit" name="cancel" value="{% trans 'Cancel' %}" />           
</div>
</form>
<br>

{% device_details smartconnectdevice %}

{% endblock %}

