{% extends "smartconnect/smartconnect_base.html" %}
{% load reporters-tags %}
{% load smartconnect-tags %}
{% load pagination-tags %}
{% load i18n %}
{% block title %}{% trans "Test form" %}{% endblock %}

{% block content %}

<h2 style= "text-align:{% trans 'left;' %}">{% trans "Edit" %} {{ device.full_name }}</h2>

<div class="module">
<div class="scform">
    <form action="/smartconnect/edit/{{ device.pk }}" method="post">
    <label>{% trans "Device Name" %}</label>
    <div>
        {{ form.first_name }}
        <label class="suffix">{% trans "First Name" %} {{ form.first_name.errors }}</label>
        <br>
        {{ form.last_name }}
        <label class="suffix">{% trans "Last Name" %} {{ form.last_name.errors }}</label>
    </div>
    
    <label>{% trans "Thresholds" %}</label>
    <div>
        {{ form.low_thresh }}
        <label class="suffix">{% trans "Low Temperature" %} (&deg;K) {{ form.low_thresh.errors }}</label>
        <br>
        {{ form.high_thresh }}     
        <label class="suffix">{% trans "High Temperature" %} (&deg;K) {{ form.high_thresh.errors }}</label>
    </div>
    
    <label>{% trans "Reporting Frequency" %}</label>
    <div>
        {{ form.report_freq }}     
        <label class="suffix">{% trans "Standard (minutes)" %} {{ form.report_freq.errors }}</label>
        <br>
        {{ form.alert_freq }}
        <label class="suffix">{% trans "Alert (minutes)" %} {{ form.alert_freq.errors }}</label>
    </div>

    <div class="submit">
        <input type="submit" name="submit" value="{% trans 'Submit' %}" />
        <input type="submit" name="cancel" value="{% trans 'Cancel' %}" />
    </div>

    </form>
</div>
</div>
{% endblock %}

