{% extends "smartconnect/smartconnect_base.html" %}
{% load reporters-tags %}
{% load smartconnect-tags %}
{% load pagination-tags %}
{% load i18n %}
{% block title %}{% trans "SmartConnect - Delete Device" %}{% endblock %}

{% block content %}
<div class="module">
<h1>Ok to delete this device?</h1>

<form method="post" id="fm-rep-add" action="/smartconnect/delete/{{ smartconnectdevice.pk }}">
<div class="submit">
    <input type="submit" name="delete" value="{% trans 'Delete' %}" />           
    <input type="submit" name="cancel" value="{% trans 'Cancel' %}" />           
</div>
</form>
<br>

<div class="top">
    <h2>{% trans "Device Details" %}</h2>
    <table>
        <tbody>
            <tr>
                <td>Device IMEI:</td>
                <td>{% if smartconnectdevice.alias %}{{ smartconnectdevice.alias }}{% else %}<span class="na">{% trans "n/a" %}</span>{% endif %}</td>
                <td></td>
                <td>Report Frequency:</td>
                <td>{{ smartconnectdevice.report_freq }} min.</td>
            </tr>
            <tr>
                <td>Firmware Version:</td>
                <td>{{ smartconnectdevice.fw_version }}</td>
                <td></td>
                <td>Alert Frequency:</td>
                <td>{{ smartconnectdevice.alert_freq }} min.</td>
            </tr>
            <tr>
                <td>Alert Status:</td>
                <td>{{ smartconnectdevice.alert_status }}</td>
                <td></td>
                <td>High Temp. Threshold:</td>
                <td>{{ smartconnectdevice.high_thresh|to_celcius  }}&deg C</td>
            </tr>
            <tr>
                <td>Current Temp.:</td>
                <td>{{ smartconnectdevice.current_temp|to_celcius }}&deg C</td>
                <td></td>
                <td>Low Temp. Threshold:</td>
                <td>{{ smartconnectdevice.low_thresh|to_celcius  }}&deg C</td>           
            </tr>
            <tr>
                <td>Last Report:</td>
                <td>{{ smartconnectdevice.last_seen|to_local_time }}</td>
                <td></td>
                <td>Phone number:</td>
                <td>{{ smartconnectdevice.connection.identity }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}

