{% extends base_template %}
{% load reporters-tags %}
{% load pagination-tags %}
{% load i18n %}
{% block title %}{% trans "SmartConnect Device View" %}{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/reporters/javascripts/clear-form-elements.js"></script>
<script type="text/javascript" src="/static/reporters/javascripts/cloneable.js"></script>
{% endblock %}

{% block content %}
<div class="module">

<div>
Hello1
</div>

<div>
Hello2
</div>

</div>
{% endblock %}

