{% extends "smartconnect/smartconnect_base.html" %}
{% load reporters-tags %}
{% load smartconnect-tags %}
{% load pagination-tags %}
{% load i18n %}
{% block title %}{% trans "Edit Device" %}{% endblock %}

{% block content %}

<h2 style= "text-align:{% trans 'left;' %}">{% trans "Edit" %} {{ device.full_name }}</h2>

<div class="module">
<div class="scform">
    <form action="/smartconnect/edit/{{ device.pk }}" method="post">
    <label>{% trans "Device Identification" %}</label>
    <div>
        {{ form.last_name }}
        <label class="suffix">{% trans "Device Name" %} {{ form.last_name.errors }}</label>
    </div>


    <label>{% trans "Thresholds" %}</label>
    <div>
        {{ tempform.low_thresh_c }}
        <label class="suffix">{% trans "Low Temperature" %} (&deg;C) {{ tempform.low_thresh_c.errors }}</label>
        <br>
        {{ tempform.high_thresh_c }}
        <label class="suffix">{% trans "High Temperature" %} (&deg;C) {{ tempform.high_thresh_c.errors }}</label>
    </div>

    <label>{% trans "Reporting Frequency" %}</label>
    <div>
        {{ form.report_freq }}     
        <label class="suffix">{% trans "Standard (minutes)" %} {{ form.report_freq.errors }}</label>
        <br>
        {{ form.alert_freq }}
        <label class="suffix">{% trans "Alert (minutes)" %} {{ form.alert_freq.errors }}</label>
    </div>
    
    <label>{% trans "Watchers" %}</label>
    <div>
        {{ form.watchers }}
        <label class="suffix">{% trans "Group to be notified of alerts" %} {{ form.watchers.errors }} </label>
    </div>

    <div class="submit">
        <input type="submit" name="submit" value="{% trans 'Submit' %}" />
        <input type="submit" name="cancel" value="{% trans 'Cancel' %}" />
    </div>

    </form>
</div>
</div>
{% endblock %}

