{% extends "smartconnect/smartconnect_base.html" %}
{% load reporters-tags %}
{% load smartconnect-tags %}
{% load pagination-tags %}
{% load i18n %}

{% block title %}{% trans "SmartConnect" %}{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/reporters/javascripts/clear-form-elements.js"></script>
<script type="text/javascript" src="/static/reporters/javascripts/cloneable.js"></script>
{% endblock %}

{% block content %}
<div class="module">
    <h2>{% trans "Registered SmartConnect Devices" %}</h2>
    <table>
        <thead>
            <tr>
                <th style= "text-align:{% trans 'left;' %} scope="col">{% trans "Name" %}</th>
                <th style= "text-align:{% trans 'left;' %} scope="col">{% trans "IMEI" %}</th>
                <th style= "text-align:{% trans 'left;' %} scope="col">{% trans "Alert Status" %}</th>
                <th style= "text-align:{% trans 'left;' %} scope="col">{% trans "Configured?" %}</th>
                <th style= "text-align:{% trans 'left;' %} scope="col">{% trans "Current Temp." %}</th>
                <th style= "text-align:{% trans 'left;' %} scope="col">{% trans "Last Report" %}</th>
            </tr>
        </thead>
        <tbody>{% if smartconnectclients.object_list %}{% for smartconnectdevice in smartconnectclients.object_list %}
            <tr>
                <td><a href="/smartconnect/{{ smartconnectdevice.pk }}"{% if smartconnectdevice.full_name %}>{{ smartconnectdevice.full_name }}{% else %} class="unknown">{% trans "Unknown" %}{% endif %}</a></td>
                <td>{% if smartconnectdevice.alias %}{{ smartconnectdevice.alias }}{% else %}<span class="na">{% trans "n/a" %}</span>{% endif %}</td>
                <td>{{ smartconnectdevice.alert_status }}</td>
                <td>{{ smartconnectdevice.is_configured }}</td>
                <td>{{ smartconnectdevice.current_temp|to_celcius }}&deg C</td>
                <td>{{ smartconnectdevice.last_seen|last_seen }}</td>
            </tr>{% endfor %}{% else %}
            <tr class="no-data">
                <td colspan="6">
                    {% trans "No SmartConnect Devices Yet." %}
                    <a href="/reporters/add" class="add">
                        {% trans "Add a Device" %}
                    </a>
                </td>
            </tr>{% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    {% paginator smartconnectclients %}
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="toolbar">
        <a href="/reporters/add" class="add">{% trans "Add a Device" %}</a>
    </div>
</div>
{% endblock %}

