{% extends base_template %}

{% block page_stylesheets %}
<style>
    #branding h1 {
            background: url("/static/smartconnect/images/inveneo-path-rapidsms.png") no-repeat 100% 50%;
    }
    
    .module div.toolbar .delete  { background-image: url("/static/smartconnect/icons/delete.png");  }
    .module div.toolbar .edit  { background-image: url("/static/smartconnect/icons/pencil.png");  }
    .module div.toolbar .sendmessage  { background-image: url("/static/smartconnect/icons/phone.png");  }
    
    .scform ul.errorlist { list-style-type: none; color:red; margin: 0; padding: 0;}

</style>
{% endblock %}

